.btn{
  all: unset;
  background-color: var(--bg-color);
  color: #fff;
  padding: 6px 16px;
  height: 32px;
  font-size: 22px;
  letter-spacing: 1px;
  cursor: pointer;
}
.Catogery{
  all: unset;
  background: transparent;
  border: 1px solid #2e2e2e;
  color: #2e2e2e;
  padding: 6px 16px;
  height: 32px;
  font-size: 22px;
  margin-left: 40px;
  letter-spacing: 1px;
  cursor: pointer;
}
